@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
  }

  html {
    font-family: "Plus Jakarta Sans", system-ui, Arial, Helvetica, sans-serif;
    scrollbar-gutter: stable;
    scrollbar-color: var(--secondary-color) transparent;
    scrollbar-width: thin;
  }
}