@tailwind base;

@layer base {

  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
  }

  html {
    font-family: "Plus Jakarta Sans", system-ui, Arial, Helvetica, sans-serif;
    scrollbar-color: var(--secondary-color) transparent;
    scrollbar-width: thin;
  }

  /* dialog {
    scrollbar-color: var(--secondary-color) transparent;
    scrollbar-width: thin;
  } */

  :root {
    --column: 1;
  }

  @media (min-width:768px) {
    :root {
      --column: 2;
    }
  }

  @media (min-width:1024px) {
    :root {
      --column: 3;
    }
  }

  kbd {
    padding: 0.25rem; 
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-bottom-width: 4px; 
  }
}

@tailwind components;
@tailwind utilities;